.container {
    background-color: rgb(68, 112, 129);
    padding: 20px;
    border: solid 3px rgb(63, 174, 218);
    border-radius: 20px;
    box-sizing: border-box;
}

.project-info {
    background-color: rgb(63, 174, 218);
    padding: 20px;
    border: solid 3px rgb(68, 112, 129);
    border-radius: 20px;
}

.subtitle {
    font-style: italic;
}

.netlify-link {
    color: #fff;
}

.netlify-link:hover {
    color: rgb(213, 218, 223);
}

#piechart {
    height: 200px !important;
    width: 200px !important;
}

.color-key {
    text-transform: uppercase; 
    font-weight: bold ;
    text-shadow: 1px 1px black;
    list-style: none;
}

#table {
    border: solid 3px rgb(63, 174, 218);
    border-radius: 10px;
}
.mini-avatar {
    height: 50px;
    border-radius: 50%;
}

.slide {
    height: auto;
    width: 75%;
}