.skills-card-group {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
    min-width: 180px;
}

.card-img {
    max-height: 150px;
    max-width: 150px;
    background-size: contain;
    margin: auto;
    padding: 10px;
    background-color: #e9ebee;
    border: solid 3px rgb(63, 174, 218);
    border-radius: 20px 20px 0 0;
}

.card-body {
    background-color: rgb(68, 112, 129);
    border: solid 3px rgb(63, 174, 218);
    border-radius: 0 0 20px 20px;
    width: 150px;
    margin: auto;
}

.card-title {
    font-family: "Montserrat Alternates", cursive;
    font-size: 1rem;
    letter-spacing: 2px;
    color: #fff;
}

@media only screen and (max-width: 400px) {
    .skills-card-group {
        flex-wrap: nowrap;
        flex-direction: column;
    }
}

