/* font-family: 'Lobster', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat Alternates', sans-serif; */

body {
    margin-top: 80px;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-image: linear-gradient(to top, #213556, #273a5b, #2c3f61, #324566, #374a6c, #3b4f74, #40557b, #445a83, #49618e, #4e689a, #5370a5, #5877b1);
    padding: 20px;
}

/* navbar */

nav {
    background-image: linear-gradient(to top, #213556, #273a5b, #2c3f61, #324566, #374a6c, #3b4f74, #40557b, #445a83, #49618e, #4e689a, #5370a5, #5877b1);
    height: 100px;
    width: 100%;
    justify-content: space-evenly;
    position: fixed;
}

.navbar-brand {
    font-family: 'Lobster', cursive;
    top: 10px;
    left: 30px;
    padding: 10px 20px;
    color: rgb(228, 237, 245);
    letter-spacing: 2px;
}

.navbar-nav {
    display: flex;
    color:rgb(170, 207, 241);
    visibility: visible;
}

.nav-link {
    font-family: 'Merriweather', serif;
    color: rgb(176, 209, 240);
    text-align: center;
    list-style-type: none;
    padding: 0 10px;
    letter-spacing: 2px;
}

.nav-link::after {
    content: ']';
}
.nav-link::before {
    content: '[';
}

.nav-link:hover {
    background-color:rgb(170, 207, 241);
    color: #000;
}

.nav-link:active {
    text-decoration: underline;
}

.nav-item {
    font-size: 1.3rem;
    justify-content: space-evenly;
    text-align: center;
}

.navbar-toggler {
    background-color:rgb(170, 207, 241);
    margin-right: 30px;
    visibility: hidden;
}
.navbar-toggler:hover {
    background-color: rgb(170, 207, 241);
}

@media screen and (max-width: 920px) {
    .navbar-toggler {
        visibility: visible;
        top: 20px;
        right: 10px;
        position: fixed;
    }
    .topnav {
        visibility: hidden;
    }
}

.offcanvas {
    background-color: #222;
    
}

.offcanvas-header {
    font-family: "Lobster", cursive;
    color: rgb(170, 207, 241);
}

.btn-close {
    background-color: rgb(170, 207, 241);
}

.btn-close:hover {
    background-color: rgb(170, 207, 241, 1);
}
.offcanvas .nav-link {
    color: rgb(170, 207, 241);
}

.offcanvas .nav-link:hover {
    color: #111;
}
/* navbar end */

/* about page */

.about-header {
    font-family: "Montserrat Alternates", monospace;
    color:rgb(213, 218, 223);
    margin-top: 70px;
}
article {
    background-color: #fff;
    margin: 10px;
}
section {
    border: 1px solid rgb(170, 207, 241);
    background-color:rgb(221, 236, 250);
    padding-top: 20px;
}

.avatar-card {
    max-height: 300px;
    max-width: auto;
}

.avatar {
    height: 150px;
    width: 150px;
    border: 1px solid #213556;
    border-radius: 50%;
    display: block;
    margin: auto;
    margin-bottom: 20px;
    background-color: #111;
}

.hr-line {
    height: 5px;
    background-color: rgb(170, 207, 241);
    border: 1px solid rgb(170, 207, 241);
}

.about-p {
    padding: 20px;  
    border: 2px dashed rgb(170, 207, 241);
}
.contact-p {
    padding: 20px;  
    border: 2px dashed rgb(170, 207, 241);
    color: #fff;
}

button {
    background-color:rgb(170, 207, 241);
    color: #111;
    transition: .3s ease-out;
    border-radius: 10px;
}

button:hover {
    background-color: #111;
    color: rgb(170, 207, 241);
    transform: scale(1.1);
    transition: .3s ease-in;
}
.card {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
}
.card-img, .card-img-360 {
    height: fit-content;
    width: 90%;
    margin: auto;
    padding: 10px;
    background-color: #e9ebee;
}

.card-title {
    font-family: "Lobster", cursive;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

footer {
    color: rgb(153, 161, 197);
    padding: 20px;
    font-size: 0.8rem;
}
